<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>

    <script src="/script.js"></script>
    <link rel="stylesheet" href="styles/main.styles.css"></link>
</head>
<body>
    <header id="header">
        <section id="mainHeader" class="mainHeader">
            <h1>Jasmin's Recipe Collection</h1>
            <nav>
                <ul>
                    <li><a href="about" id="about">About</a></li>
                    <li><a href="login" id="login">Login</a></li>
                </ul>
            </nav>
        </section>
        <section id="secondaryHeader">
            <form action="/submit" method="post">
                <a>Show all Recipes</a>
                <input placeholder="Search for Recipes"/>

            </form>
                       
        </section>
        
    </header>
    