<%- include('partials/header.ejs'); %>    

    <main id="content">
        <section class="quickInfo">
            <div>Anzahl</div>
            <div>sort:newest</div>
        </section>
        <section class="mainContent">
            <div class="filterBox"></div>
            <div id="apiData"></div>
        </section>

    </main>

<%- include('partials/footer.ejs'); %>
